img {
    width: 120px;
    height: 150px;
}
body {
    margin: 0 auto;
    width: 500px;
}
.intro {
    text-align: center;
}
.contacts p {
    padding-left: 20px;
}
.social a {
    padding-left: 20px;
}
